body {
  background-color:#eee;
}

div {
  border: solid 1px #999;
}

h1 {
  text-align: center;
}

#header {
  height: 10vh;
}

#timer {
  height: 80vh;
  width: 80vh;
  position: relative;
}

.timer_circle {
  fill: none;
  stroke: none;
}

.timer_path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.timer_label {
  position: absolute;
  width: 80vh;
  height: 80vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30vh;
}

.timer_path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.timer_svg {
  transform: scaleX(-1);
}

.timer_path-remaining.green {
  color: rgb(65, 184, 131);
}

.timer_path-remaining.orange {
  color: orange;
}

.timer_path-remaining.red {
  color: red;
}

#startStopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#startStopButton button {
  font-size: 5vh;
}

.paused {
  animation-play-state: paused;
}
