body {
  background-color:#eee;
}

div {
  border: solid 1px #999;
}

h1 {
  position: relative;
  margin: 0;
  padding: 0;
  top: 1vh;
  text-align: center;
  font-size: 7vh;
}

#header {
  height: 10vh;
}

#timer {
  height: min(80vh,95vw);
  width: min(80vh,95vw);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.timer_circle {
  fill: none;
  stroke: none;
}

.timer_path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.timer_label {
  position: absolute;
  height: min(80vh,95vw);
  width: min(80vh,95vw);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30vh;
}

.timer_path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.timer_svg {
  transform: scaleX(-1);
}

.timer_path-remaining.green, .timer_label.green {
  color: rgb(65, 184, 131);
  font-color: rgb(65, 184, 131);
}

.timer_path-remaining.orange, .timer_label.orange {
  color: orange;
  font-color: orange;
}

.timer_path-remaining.red, .timer_label.red {
  color: red;
  font-color: red;
}

.timer_path-remaining.default, .timer_label.default {
  color: #ccc;
  font-color: #ccc;
}

#startStopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#startStopButton button {
  font-size: 5vh;
}

.paused {
  animation-play-state: paused;
  filter: saturate(40%);
}
